@keyframes hover {
    0% {
        transform: translate3d(0,0,0);
    }

    50% {
        transform: translate3d(0,.75rem,0);
    }

    100% {
        transform: translate3d(0,0,0);
    }
}

@keyframes shadow-arwing-hover {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}










@keyframes tilt {
    0% {
        transform: rotate(0deg);
    }

    12% {
        transform: rotate(2deg);
    }
    24% {
        transform: rotate(-6deg);
    }

    65% {
        transform: rotate(0deg);
    }
    82% {
        transform: rotate(-8deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes shadow-wing-left-tilt {
    0% {
        transform: scale3d(1, 1, 1) rotate(-10deg);
    }

    12% {
        //transform: rotate(2deg);
        transform: scale3d(.9, .95, 1) rotate(-10deg);
    }
    24% {
        //transform: rotate(-6deg);
        transform: scale3d(1.15, 1.1, 1) rotate(-10deg);
    }

    65% {
        //transform: rotate(0deg);
        transform: scale3d(1, 1, 1) rotate(-10deg);
    }
    82% {
        //transform: rotate(-8deg);
        transform: scale3d(1.17, 1.12, 1) rotate(-10deg);
    }

    100% {
        //transform: rotate(0deg);
        transform: scale3d(1, 1, 1) rotate(-10deg);
    }
}

@keyframes shadow-wing-right-tilt {
    0% {
        transform: scale3d(1, 1, 1) rotate(10deg);
    }

    12% {
        //transform: rotate(2deg);
        transform: scale3d(1.1, 1.05, 1) rotate(10deg);
    }
    24% {
        //transform: rotate(-6deg);
        transform: scale3d(.85, .9, 1) rotate(10deg);
    }

    65% {
        //transform: rotate(0deg);
        transform: scale3d(1, 1, 1) rotate(10deg);
    }
    82% {
        //transform: rotate(-8deg);
        transform: scale3d(.83, .88, 1) rotate(10deg);
    }

    100% {
        //transform: rotate(0deg);
        transform: scale3d(1, 1, 1) rotate(10deg);
    }
}









@keyframes engine-glow {
    0% {
        border-bottom-color: $arwing-engine-1;
    }
    100% {
        border-bottom-color: $arwing-engine-2;
    }
}







@keyframes dotted-line-1 {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(0, 100vw, 0);
    }
}
