@keyframes hover {
    0% {
        transform: translate3d(0,0,0);
    }

    50% {
        transform: translate3d(0,.75rem,0);
    }

    100% {
        transform: translate3d(0,0,0);
    }
}



@keyframes tilt {
    0% {
        transform: rotate(0deg);
    }

    12% {
        transform: rotate(2deg);
    }
    24% {
        transform: rotate(-6deg);
    }

    65% {
        transform: rotate(0deg);
    }
    82% {
        transform: rotate(-8deg);
    }

    100% {
        transform: rotate(0deg);
    }
}



@keyframes engine-glow {
    0% {
        border-bottom-color: $arwing-engine-1;
    }
    100% {
        border-bottom-color: $arwing-engine-2;
    }
}






@keyframes dotted-line-1 {
    0% {
        top: 48%;
    }
    10% {
        top: 28%;
    }
    20% {
        top: 16%;
    }
    30% {
        top: 8%;
    }
    40% {
        top: 3%;
    }
    50% {
        top: 0;
    }
    60% {
        top: -500%;
    }
    100% {
        top: -500%;
    }
}

@keyframes dotted-line-2 {
    0% {
        top: 90%;
    }
    10% {
        top: 48%;
    }
    20% {
        top: 28%;
    }
    30% {
        top: 16%;
    }
    40% {
        top: 8%;
    }
    50% {
        top: 3%;
    }
    60% {
        top: 0;
    }
    70% {
        top: -500%;
    }
    100% {
        top: -500%;
    }
}

@keyframes dotted-line-3 {
    0% {
        top: 155%;
    }
    10% {
        top: 90%;
    }
    20% {
        top: 48%;
    }
    30% {
        top: 28%;
    }
    40% {
        top: 16%;
    }
    50% {
        top: 8%;
    }
    60% {
        top: 3%;
    }
    70% {
        top: 0;
    }
    80% {
        top: -500%;
    }
    100% {
        top: -500%;
    }
}

@keyframes dotted-line-4 {
    0% {
        top: 230%;
    }
    10% {
        top: 155%;
    }
    20% {
        top: 90%;
    }
    30% {
        top: 48%;
    }
    40% {
        top: 28%;
    }
    50% {
        top: 16%;
    }
    60% {
        top: 8%;
    }
    70% {
        top: 3%;
    }
    80% {
        top: 0;
    }
    90% {
        top: -500%;
    }
    100% {
        top: -500%;
    }
}

@keyframes dotted-line-5 {
    0% {
        top: 300%;
    }
    10% {
        top: 230%;
    }
    20% {
        top: 155%;
    }
    30% {
        top: 90%;
    }
    40% {
        top: 48%;
    }
    50% {
        top: 28%;
    }
    60% {
        top: 16%;
    }
    70% {
        top: 8%;
    }
    80% {
        top: 3%;
    }
    90% {
        top: 0;
    }
    100% {
        top: -500%;
    }
}

@keyframes dotted-line-6 {
    0% {
        top: 500%;
    }
    10% {
        top: 300%;
    }
    20% {
        top: 230%;
    }
    30% {
        top: 155%;
    }
    40% {
        top: 90%;
    }
    50% {
        top: 48%;
    }
    60% {
        top: 28%;
    }
    70% {
        top: 16%;
    }
    80% {
        top: 8%;
    }
    90% {
        top: 3%;
    }
    100% {
        top: 0;
    }
}
