.bombs-and-boost {
    position: absolute;
    right: 2em;
    bottom: -1em;
}



$boost-border: #c8c8c8;
$boost-meter: #7058d8;

.boost-border {
    border: 2px solid $boost-border;
    box-sizing: border-box;
    height: 16px;
    padding: 2px;
    position: relative;
    width: 80px;
    right: 0;
    bottom: 0;
}
.boost-meter {
    background-color: $boost-meter;
    height: 8px;
    width: 100%;
}



$nova-border: #003060;
$nova-pink-dark: #f80078;
$nova-pink-light: #f87898;
$nova-gray-dark: #888888;
$nova-gray-light: #a8a8a8;
$nova-white: #fff;

.nova-bomb-meter {
    height: 32px;
    position: relative;
    right: .8em;
    text-align: right;
}

.nova-bomb {
    display: inline-block;
    font-size: 2px;
    height: 1em;
    position: relative;
    width: 1em;

    box-shadow:	//%%%%%% L I N E   0 %%%%%%%
				0em 0 transparent,
				1em 0 transparent,
				2em 0 $nova-border,
				3em 0 $nova-border,
				4em 0 $nova-border,
			    5em 0 $nova-border,
				6em 0 transparent,
				7em 0 transparent,
                //%%%%%% L I N E   1 %%%%%%%
                0em 1em transparent,
				1em 1em $nova-border,
				2em 1em $nova-white,
				3em 1em $nova-pink-dark,
				4em 1em $nova-pink-dark,
			    5em 1em $nova-white,
				6em 1em $nova-border,
				7em 1em transparent,
                //%%%%%% L I N E   2 %%%%%%%
                0em 2em $nova-border,
				1em 2em $nova-white,
				2em 2em $nova-pink-light,
				3em 2em $nova-gray-dark,
				4em 2em $nova-gray-dark,
			    5em 2em $nova-pink-light,
				6em 2em $nova-white,
				7em 2em $nova-border,
                //%%%%%% L I N E   3 %%%%%%%
                0em 3em $nova-border,
				1em 3em $nova-pink-dark,
				2em 3em $nova-gray-dark,
				3em 3em $nova-gray-light,
				4em 3em $nova-gray-light,
			    5em 3em $nova-gray-dark,
				6em 3em $nova-pink-dark,
				7em 3em $nova-border,
                //%%%%%% L I N E   4 %%%%%%%
                0em 4em $nova-border,
				1em 4em $nova-pink-dark,
				2em 4em $nova-gray-dark,
				3em 4em $nova-gray-light,
				4em 4em $nova-gray-light,
			    5em 4em $nova-gray-dark,
				6em 4em $nova-pink-dark,
				7em 4em $nova-border,
                //%%%%%% L I N E   5 %%%%%%%
                0em 5em $nova-border,
				1em 5em $nova-white,
				2em 5em $nova-pink-light,
				3em 5em $nova-gray-dark,
				4em 5em $nova-gray-dark,
			    5em 5em $nova-pink-light,
				6em 5em $nova-white,
				7em 5em $nova-border,
                //%%%%%% L I N E   6 %%%%%%%
                0em 6em transparent,
				1em 6em $nova-border,
				2em 6em $nova-white,
				3em 6em $nova-pink-dark,
				4em 6em $nova-pink-dark,
			    5em 6em $nova-white,
				6em 6em $nova-border,
				7em 6em transparent,
                //%%%%%% L I N E   7 %%%%%%%
                0em 7em transparent,
				1em 7em transparent,
				2em 7em $nova-border,
				3em 7em $nova-border,
				4em 7em $nova-border,
			    5em 7em $nova-border,
				6em 7em transparent,
				7em 7em transparent;

    + .nova-bomb {
        margin-left: 6em;
    }
}
