#grass-1,
#grass-2,
#grass-3,
#grass-4,
#grass-5,
#grass-6,
#grass-7,
#grass-8,
#grass-9,
#grass-10 {
    position: absolute;
    width: 100%;
    bottom: 0;
}

#grass-1 {
    background-color: $bg-grass-1;
    height: 100%;
}
#grass-2 {
    background-color: $bg-grass-2;
    height: 95%;
}
#grass-3 {
    background-color: $bg-grass-3;
    height: 91%;
}
#grass-4 {
    background-color: $bg-grass-4;
    height: 87%;
}
#grass-5 {
    background-color: $bg-grass-5;
    height: 80%;
}
#grass-6 {
    background-color: $bg-grass-6;
    height: 72%;
}
#grass-7 {
    background-color: $bg-grass-7;
    height: 61%;
}
#grass-8 {
    background-color: $bg-grass-8;
    height: 51%;
}
#grass-9 {
    background-color: $bg-grass-9;
    height: 38%;
}
#grass-10 {
    background-color: $bg-grass-10;
    height: 23%;
}
