#track-line-1 { // inner left
    left: 25rem;
    top: -8.125rem;
    transform: rotate(65deg);
}

#track-line-2 { //inner right
    right: 25rem;
    top: -8.125rem;
    transform: rotate(-65deg);
}

#track-line-3 { //outer left
    left: -3rem;
    transform: rotate(79deg);
    top: -10.125rem;
}

#track-line-4 { //outer right
    right: -3rem;
    transform: rotate(-79deg);
    top: -10.125rem;
}


div[class^='dot'] {
    background-color: #fff;
    display: block;
    height: 3px;
    left: 0;
    position: absolute;
    top: 0%;
    transform: translate3d(0, -10vw, 0);
    width: 3px;
}
