$bg: #0050d8;
$stroke: #183048;
$slippy-shadow: #486070;
$slippy-normal: #708098;
$slippy-light: #98b0c0;
$slippy-bright: #c0d8e8;
$hat-shadow: #a80840;
$hat-normal: #f05868;
$hat-light: #f8a868;
$chin-bright: #f8d090;
$collar-1: #68d8f8;
$collar-2: #6088f8;
