$arwing-shadow: rgb(112,128,152);
$arwing-light: rgb(192,216,232);
$arwing-cannon: rgb(0,80,216);
$arwing-wing-light: $arwing-shadow;
$arwing-wing-shadow: rgb(72,96,112);
$arwing-engine-1: rgb(248,208,144);
$arwing-engine-2: #ab0036;

$bg-sky: #50a0b8;

$bg-grass-1: #689898;
$bg-grass-2: #589878;
$bg-grass-3: #509070;
$bg-grass-4: #488868;
$bg-grass-5: #408060;
$bg-grass-6: #387858;
$bg-grass-7: #307050;
$bg-grass-8: #286848;
$bg-grass-9: #206040;
$bg-grass-10: #185838;


@import 'css/animations.scss';

/*

// power meter
// nova bombs
// extra lives
// obstacles
// background // http://jsfiddle.net/thirtydot/9SEMf/869/
// wingmates?

// maybe for a barrel roll later
// rotate3d(0, 0, 50, 0deg) perspective(30rem)

*/


//%%%%% Animations for easier toggling
.container-arwing {
    animation: hover 5s infinite;
}

.container-arwing-shadow {
    animation: shadow-arwing-hover 5s infinite;
}

.tilt {
    animation: tilt 8s infinite;
}

.shadow-wing-left-tilt {
    animation: shadow-wing-left-tilt 8s infinite;
}

.shadow-wing-right-tilt {
    animation: shadow-wing-right-tilt 8s infinite;
}

$number-of-dots: 3;
@for $i from 1 through $number-of-dots {
    $delay-increment: 1 / $number-of-dots;
    $delay: ($i - 1) * $delay-increment;

    .dot-#{$i} {
        animation: cubic-bezier(.9,0,.9,1) dotted-line-1 1s #{$delay}s infinite;
    }
}



body {
    background-color: #333;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.container {
    background-color: $bg-sky;
    border-radius: 100px / 60px;
    height: 720px;
    margin: 0 auto;
    position: relative;
    top: calc((100vh - 720px)/ 2);
    width: 1280px;
}




.container-arwing {
    left: 45%;
    position: absolute;
    top: 43%;
    width: 4rem;
}

@import 'css/arwing-1.scss';



.container-arwing-shadow {
    left: 47%;
    position: absolute;
    top: 74%;
}

#shadow-hull {
    border-left: 2.5rem solid transparent;
    border-right: 2.5rem solid transparent;
    border-bottom: 3.5rem solid rgba(0, 0, 0, 0.25);
    width: 0;
}
#shadow-wing-left {
    border-bottom: 1.25rem solid rgba(0, 0, 0, 0.25);
    border-left: 14rem solid transparent;
    border-right: .5rem solid transparent;
    bottom: -.02rem;//-1.35rem;
    left: -14.4rem;
    position: absolute;
    transform: rotate(-10deg);
    transform-origin: right bottom;
    width: 0;
}
#shadow-wing-right {
    border-bottom: 1.25rem solid rgba(0, 0, 0, 0.25);
    border-left: .5rem solid transparent;
    border-right: 14rem solid transparent;
    bottom: -.02rem;//-1.35rem;
    right: -14.35rem;
    position: absolute;
    transform: rotate(10deg);
    transform-origin: left bottom;
    width: 0;
}





.container-ground {
    overflow: hidden;
    position: absolute;
    height: 55%;//50vh;
    width: 100%;
    bottom: 0;
}

@import 'css/grass.scss';





div[id^='track-line-'] {
    position: absolute;
    top: -15.8rem;
    height: 100%;//100vh;
    width: 3px;

}

@import 'css/tracks.scss';





.hud {
    bottom: 2em;
    height: 100%;
    left: 1em;
    position: absolute;
    width: 100%;
}

@import 'css/shield.scss';
@import 'css/slippy.scss';
@import 'css/slippy-text.scss';
@import 'css/bombs-and-boost.scss';
